<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="ontainer">
<div class="jumbotron">

    <h1>Welcome to my Website</h1>
    <h3>Mission Statement:</h3>
       <ul>
        <li> Empower through technology.</li>
        <li>Create innovative solutions for real-world challenges.</li>
        <li> Develop clean, scalable, and user-friendly applications.</li>
        <li>Enhance user experiences and drive positive change.</li>
        <li>Stay updated with the latest technologies and best practices.</li>
        <li>Collaborate with teams to deliver high-quality software products.</li>
        <li>Embrace creativity, adaptability, and a growth mindset.</li>
        <li>Contribute to the advancement of technology.</li>
        <li>Empower individuals and businesses to thrive in the digital world.</li>
    </ul>
    </div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   